[Unit]
Description=A script that monitors docker start/stop events and adds/removes containers' IP address to/from /etc/hosts so that they can be automatically addressed by their hostnames.
Documentation=https://github.com/357up/docker-host-dns
After=network-online.target docker.socket podman.socket firewalld.service containerd.service
Before=docker.service podman.service
Wants=network-online.target
Requires=docker.socket

[Service]
Type=simple
ExecStart=/usr/sbin/docker-host-dns
SuccessExitStatus=143
RestartKillSignal=9
Restart=always
RestartSec=1s
TimeoutStartSec=0
KillMode=mixed

[Install]
WantedBy=multi-user.target