[Unit]
Description=A script that monitors docker start/die events and adds/removes containers' IP addresses to/from /etc/hosts so that they can be automatically adressed by their hostnames.
Documentation=https://github.com/357up/docker-hosts
After=network-online.target docker.socket firewalld.service containerd.service
Before=docker.service
Wants=network-online.target
Requires=docker.socket containerd.service

[Service]
Type=simple
ExecStart=/usr/sbin/docker-host-dns
SuccessExitStatus=143
RestartKillSignal=9
Restart=always
RestartSec=1s
TimeoutStartSec=0
KillMode=mixed

[Install]
WantedBy=multi-user.target